
#container-back-ground {
    background-color: hsl(210, 17%, 98%);
    font-size: 100px;
    color: hsl(210, 16%, 93%);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

#container{
    position: relative;
    color: hsl(210, 11%, 15%);
    display: grid;
    row-gap: 16px;
    column-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 50px auto auto;
    grid-template-areas:
                "a a a"
                "b b c"
                ". d ."
                "e e e";
}


#item-a {
    grid-area: a;
}
#search-field {
    grid-area: b;
}
#search-button {
    grid-area: c;
}
#error-message {
    grid-area: d;
}
#country-info{
    grid-area: e;
}



#country-info {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
    margin: 10px;
    border-radius: 2px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#country-info h1 {
    border-bottom: 2px solid hsl(210, 10%, 23%);
    margin: 10px;
}

#country-info p {
    margin: 10px;
}

img {
    float: left;
    height: 68px;
    margin-right: 30px;
}

    @media screen and (min-width: 572px) {
body{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
}